# Generic ignores for libtool project
**/.deps/**
*.la
*.lo
*.o
/coverage.info
/coveragereport/*
*.gcno
*~
*.tmp
.dirstamp
.*.swp

# Generic ignores for cmake project
/out/**
/build/**

/doxygen-doc/**
/libjwt/libjwt.pc

# Cmake
/build
