#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_test:
	echo

override_dh_auto_install:
	dh_install libjwt/.libs/libjwt.so.* /usr/lib/${DEB_HOST_MULTIARCH}/
	dh_install libjwt/.libs/libjwt.a /usr/lib/${DEB_HOST_MULTIARCH}/
