<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>CFBundleName</key>
     <string>LibJWT</string>
     <key>CFBundleIdentifier</key>
     <string>com.maclara-llc.LibJWT</string>
     <key>CFBundleVersion</key>
     <string>2.9.99</string>
     <key>DocSetFeedName</key>
     <string>Docs provided by maClara, LLC</string>
     <key>DocSetFeedUrl</key>
     <string>FeedUrl</string>
     <key>DocSetPublisherIdentifier</key>
     <string>com.maclara-llc.DocPublish</string>
     <key>DocSetPublisherName</key>
     <string>maClara, LLC</string>
     <key>DashDocSetFamily</key>
     <string>doxy</string>
     <key>DocSetPlatformFamily</key>
     <string>doxygen</string>
</dict>
</plist>
